@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
   --brand-color-text: #757575;
   --brand-color-highlighting: #212121;
   --brand-primary-blue-color: #2196F3;
   --brand-primary-white-color: #E5E5E5;
   --brand-primary-grey-color: #2F303A;  
   --brand-secondary-white-color: #F5F4FA;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   letter-spacing: 0.03em;
   color: var(--brand-color-text);
   background-color: var(--brand-primary-white-color)
   
 }

h1 {
    font-size: 44px;
    color: #FFFFFF;
    font-weight: 900;
 }
 h3 {
    font-size: 14px;
    color: #212121;
    font-weight: 700;
 }

 p {
    font-size: 14px;
    color: #757575;
    font-weight: 400;
 }

 address {
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;

 }
 footer {
     background-color: #2F303A;
 }
 
 a {
    text-decoration: none;
 }

 .what-we-do {
    font-size: 36px;
    color: #212121;
    font-weight: 700;


 }
 .section-title {
    font-size: 36px;
    color: #212121;
    font-weight: 700;
 
 }
 .button {
    color: #FFFFFF;
    background-color: #2196F3;

 }
.initial-banner{
    background-color: #2F303A;
    width: 1600px;
    height: 600;

}

.logo {
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;

}
.nav-bar a {
    color: #212121;
    font-size: 14px;
    font-weight: 500;

}


.contact a {
    color:#212121;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
}

 .link:hover {
    color:#2196F3
    
 }





