@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
   --brand-color-text: #757575;
   --brand-color-highlighting: #212121;
   --brand-primary-blue-color: #2196F3;
   --brand-primary-white-color: #E5E5E5;
   --brand-primary-grey-color: #2F303A;  
   --brand-secondary-white-color: #F5F4FA;
   --brand-background-header-color: #ECECEC; 
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   letter-spacing: 0.03em;
   color: var(--brand-color-text);
   background-color: var(--brand-primary-white-color) 
 }

 header { 
   background-color: var(--brand-background-header-color);
   width: 1600px;
   left: 0px;
   top: 0px;
 }

.logo {
   font-family: 'Raleway';
   font-size: 26px;
   color: var(--brand-primary-blue-color);
}

.nav-menu .link:hover,
.nav-menu .link:focus,
.contact .link:hover,
.contact .link:focus {
   color: var(--brand-primary-blue-color);
}






